/*------------------------------------------------------*/
.topIn-enter {
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  opacity: .01;
}
.topIn-enter.topIn-enter-active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease-out;
  -o-transition: opacity 0.3s ease, transform 0.3s ease-out;
  transition: opacity 0.3s ease, transform 0.3s ease-out;
  transition: opacity 0.3s ease, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.topIn-exit {
  opacity: 1;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.topIn-exit.topIn-exit-active {
  opacity: .01;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease-out;
  transition: opacity 0.2s ease, -webkit-transform 0.3s ease-out;
  -o-transition: opacity 0.2s ease, transform 0.3s ease-out;
  transition: opacity 0.2s ease, transform 0.3s ease-out;
  transition: opacity 0.2s ease, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
/*------------------------------------------------------*/
.bottomIn-enter {
  -webkit-transform: translateY(60%);
      -ms-transform: translateY(60%);
          transform: translateY(60%);
  opacity: .01;
}
.bottomIn-enter.bottomIn-enter-active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease-out;
  -o-transition: opacity 0.3s ease, transform 0.3s ease-out;
  transition: opacity 0.3s ease, transform 0.3s ease-out;
  transition: opacity 0.3s ease, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.bottomIn-exit {
  opacity: 1;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.bottomIn-exit.bottomIn-exit-active {
  opacity: .01;
  -webkit-transform: translateY(60%);
      -ms-transform: translateY(60%);
          transform: translateY(60%);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease-out;
  transition: opacity 0.2s ease, -webkit-transform 0.3s ease-out;
  -o-transition: opacity 0.2s ease, transform 0.3s ease-out;
  transition: opacity 0.2s ease, transform 0.3s ease-out;
  transition: opacity 0.2s ease, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
/*------------------------------------------------------*/
.leftIn-enter {
  opacity: .01;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.leftIn-enter.leftIn-enter-active {
   opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity 0.3s ease, -webkit-transform .3s ease;
  transition: opacity 0.3s ease, -webkit-transform .3s ease;
  -o-transition: opacity 0.3s ease, transform .3s ease;
  transition: opacity 0.3s ease, transform .3s ease;
  transition: opacity 0.3s ease, transform .3s ease, -webkit-transform .3s ease;
}
.leftIn-exit {
   opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.leftIn-exit.leftIn-exit-active {
   opacity: .01;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.2s ease-out;
  transition: opacity 0.3s ease, -webkit-transform 0.2s ease-out;
  -o-transition: opacity 0.3s ease, transform 0.2s ease-out;
  transition: opacity 0.3s ease, transform 0.2s ease-out;
  transition: opacity 0.3s ease, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
/*------------------------------------------------------*/
.rightIn-enter {
  opacity: .01;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.rightIn-enter.rightIn-enter-active {
   opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity 0.3s ease, -webkit-transform .3s ease;
  transition: opacity 0.3s ease, -webkit-transform .3s ease;
  -o-transition: opacity 0.3s ease, transform .3s ease;
  transition: opacity 0.3s ease, transform .3s ease;
  transition: opacity 0.3s ease, transform .3s ease, -webkit-transform .3s ease;
}
.rightIn-exit {
   opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.rightIn-exit.rightIn-exit-active {
   opacity: .01;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.2s ease-out;
  transition: opacity 0.3s ease, -webkit-transform 0.2s ease-out;
  -o-transition: opacity 0.3s ease, transform 0.2s ease-out;
  transition: opacity 0.3s ease, transform 0.2s ease-out;
  transition: opacity 0.3s ease, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
/*------------------------------------------------------*/

.topInBottomOut-enter {
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  opacity: .01;
}
.topInBottomOut-enter.topInBottomOut-enter-active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  -o-transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
}
.topInBottomOut-exit {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}
.topInBottomOut-exit.topInBottomOut-exit-active {
  -webkit-transform: translateY(60%);
      -ms-transform: translateY(60%);
          transform: translateY(60%);
  opacity: .01;
  -webkit-transition: opacity 0.3s ease,-webkit-transform .2s ease;
  transition: opacity 0.3s ease,-webkit-transform .2s ease;
  -o-transition: opacity 0.3s ease,transform .2s ease;
  transition: opacity 0.3s ease,transform .2s ease;
  transition: opacity 0.3s ease,transform .2s ease,-webkit-transform .2s ease;
}
/*------------------------------------------------------*/
.zoomIn-enter {
  opacity: .01;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
}
.zoomIn-enter.zoomIn-enter-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: opacity .3s ease, -webkit-transform .4s ease;
  transition: opacity .3s ease, -webkit-transform .4s ease;
  -o-transition: transform .4s ease, opacity .3s ease;
  transition: transform .4s ease, opacity .3s ease;
  transition: transform .4s ease, opacity .3s ease, -webkit-transform .4s ease;
}
.zoomIn-exit {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}
.zoomIn-exit.zoomIn-exit-active {
  opacity: .01;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: opacity .3s ease, -webkit-transform .4s ease;
  transition: opacity .3s ease, -webkit-transform .4s ease;
  -o-transition: transform .4s ease, opacity .3s ease;
  transition: transform .4s ease, opacity .3s ease;
  transition: transform .4s ease, opacity .3s ease, -webkit-transform .4s ease;
}
/*------------------------------------------------------*/
.fade-enter {
  opacity: .01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0.1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/*------------------------------------------------------*/
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* app style */

body{
    background: #1b2b48;
    color:#a6bce4;
    margin:30px 20px;
    font-family:monospace,serif,sans-serif,cursive,fantasy;
}
.container{
    height: 490px;
    width:100%;
}

.boxContainer{
    height: 140px;
    border-radius: 10px;
}

.box{
    background: #59d9ff;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin: 0 auto;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

.typeName{
    color: #a6bce4;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    height: 40px;
}

.title{
    color: #fb6ec8;
    height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.boxText{
    color: #fff;
}

.btn{
    height: 30px;
    width: 100px;
    border: #fb6ec8 solid 1.5px;
    color: #fb6ec8;
    margin-bottom: 20px;
    margin: 20px auto 30px auto;
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    font-size: 18px;
}

.link{
    position: absolute;
    right: 10px;
    top: 20px;
    color: #a6bce4;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}



/* grid */
.col-4{
    width:33%;
    display: inline-block;
}


/*# sourceMappingURL=demo.e6c49bfa.css.map*/